<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= form_for [:admin, @product], html: { multipart: true } do |f| %>
      <%= render "shared/error_messages", object: @product %>

      <%= f.label :category %><br/>
      <%= f.select :category_id, Category.all.collect { |p| [ p.name, p.id ] }, class: "form-control" %>

      <%= f.label :name %><br/>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %><br/>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :detail %><br/>
      <%= f.text_area :detail, class: "form-control" %>

      <%= f.label :image, "Products image" %><br/>
      <%= f.file_field :image, accept: "image/jpeg, image/jpg, image/gif, image/png" %>

      <%= f.fields_for :product_images do |p| %>
        <div class="field">
          <%= p.label :image %><br>
          <%= p.file_field :image, :multiple => true, name: "product_images[image][]" %>
        </div>
      <% end %>

      <%= f.label :price %><br/>
      <%= f.number_field :price, class: "form-control", min: 1000, step: 1000 %>

      <%= f.label :promotion %><br/>
      <%= f.number_field :promotion, class: "form-control", in: 0.0..100.0, step: 0.5 %>

      <%= f.label :is_display %><br/>
      <%= f.check_box :is_display, class: "form-control"%>

      <div class="actions">
        <%= f.submit "Update", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
