<% provide :title, t("product.all") %>
<h1><%= t "product.all" %></h1>

<div class="row">
  <div class="col-md-offset-2 col-md-10">
    <%= render "admin/products/search_form" %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="center"><%= t "product.image" %></th>
          <th class="center"><%= t "product.category" %></th>
          <th class="center"><%= t "product.name" %></th>
          <th class="center"><%= t "product.display" %></th>
          <th class="center", colspan="3"><%= t "product.actions" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @products %>
    </div>
  </div>
</div>
